################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/337project/337project/bin
/337project/337project/obj
